/*
dark teal: #335c67;
cream: #fff3b0;
brownish orange: #e09f3e;
red:   #9e2a2b;
maroon: #540b0e;
*/
* {
  box-sizing: border-box;
}
html, body {
  overflow-x: hidden;
}

body {
    font-family: helvetica, arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #335c67;
    font-family: "Roboto", "sans-serif";
  }

  .whole {
    padding-top: 500px;
  }
  .intro h1 {
    font-family: "Poppins", "sans-serif";
    margin: 0;
    padding-right: 10px;
  text-align: left;
    text-transform: uppercase;
    color:  #540b0e;
    font-style: bolder;
    font-size: 60px;
position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-75%) translateY(-50%);
    line-height: 1;
    text-shadow: 1px 1px #9e2a2b, 
                2px 2px #9e2a2b, 
                3px 3px #9e2a2b, 
                4px 4px #9e2a2b, 
                5px 5px #9e2a2b, 
                6px 6px #9e2a2b;
  }
  /*
  .yemen-drawing {
    float: right;
  transform: translateX(1%) translateY(33%);
    right: 0;
    bottom: 0;
    padding-bottom: 250px;

        -webkit-animation: fade-in-br 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                animation: fade-in-br 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    

    animation-duration: 2s;
    animation-delay: 0s;
  }
  */
  .intro img {
    float: right;
    display: inline;
    padding-top: 200px;
    padding-bottom: 30px;

      -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
              animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
  .frame__title-wrap{
      padding: 1em;
      text-align: left;
      position: flex;
  }

  
  .frame__tagline {
    float: right;
    text-align: right;
    right: 0;
    top: 0;
  }
  .frame a {
      font-family: 'Kanit','sans-serif';
    color: white;
    text-decoration: none;
  }
  .frame a:hover {
    color: #000
  }
  .frame p {
      font-family: 'Kanit','sans-serif';
      color: #540b0e;
  }
  
  .anim {
    font-family: 'Montserrat','sans-serif';
    color: white;
    font-size: 20px;
    height: 100%;
   
    text-align: center;
    justify-content: center;
    margin: 20px;

  }
  .hideAnim {
    opacity: 0;
    transition-duration: 0.5s;
  }
  .showAnim {
    transition-duration: 1s;
    opacity: 1;
  }
  .animated-text {
    font-weight: 900;
    line-height: 20px;
    text-decoration: underline;
    font-family: 'Poppins','sans-serif';
    color: #540b0e;
    font-size: 20px;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
  }
  .help {
    font-weight: 900;
    line-height: 20px;
    font-family: 'Poppins','sans-serif';
    color: #fff3b0;
    font-size: 30px;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 100%;
  }
  .images {
  display: inline;
  justify-content: center;
    text-align: center;
    padding-right: 200px;
    padding-left: 200px;
}
.circle {
  vertical-align: top;
  display: block;
  margin: auto;
  width: 250px;
  height: 250px;
  margin-top: 30px;
}
a {
  font-family: 'Montserrat','sans-serif';
  text-decoration: none;
  color: white;
}
a:hover {
  color: #fff3b0;
  transition: ease-in .3s;
}
.filler {
  color: #335c67;
}

  /* ----------------------------------------------
 * Generated by Animista on 2020-6-14 16:12:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-br
 * ----------------------------------------
 */

 @-webkit-keyframes fade-in-br {
  0% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform:translateX(0px) translateY(0px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(1%) translateY(33%);
            transform: translateX(1%) translateY(33%);
    opacity: 1;
  }
}
@keyframes fade-in-br {
  0% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform:translateX(0px) translateY(0px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(1%) translateY(33%);
            transform: translateX(1%) translateY(33%);
    opacity: 1;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2020-6-27 17:23:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


/*FOR LARGE SCREENS_LAPTOPS*/
@media screen and (min-width: 800px) {
  .whole {
    padding-top: 650px;
  }
  .intro h1 {
    font-size: 90px;
  }
  .intro img {
    float: right;
    display: inline;
    padding-top: 350px;
    padding-bottom: 30px;
    

  }
  .animated-text {
    padding-top: 20px;
    font-size: 40px;
    line-height: 35px;
  }
.anim {
  height: 100%;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  margin-right: 40px;
  margin-left: 40px;

}
.images {
    display: flex;
    justify-content: center;
}
.images span {
  display: block;
  margin: 0 auto;
}
.own {
  width:300px;
  text-align:center;
  display:inline;
  background-color: transparent;
  border: 1px solid transparent;
  margin-right: 20px;
  margin-bottom: 20px;
  float:left;
  }
  .own p {
    font-size: 15px;
  }
  .yemen-vid {
    width: 800px; 
    height: 400px;
  }
li {

  list-style-position: inside;
}
}

/*IPADS*/
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {
  .whole {
    padding-bottom: 500px;
  }
  .intro h1 {
    font-size: 70px;
  }
  .intro img {
    float: right;
    display: inline;
    padding-top: 200px;
    padding-bottom: 30px;
  }
  .yemen-vid{
text-align: center;
justify-content: center;
display: inline;

  }
  .filler {
    font-size: 10px;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-6-30 14:28:47
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
